@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.main-box{
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 30px;
    background-color: #FEFBF3;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.main-box h2{
    color: #79B4B7;
    text-transform: uppercase;
    font-weight: 800;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.side-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.side-left h3{
    color: #79B4B7;
}
input[type=text] {
    border: solid 0px #fff;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
input[type=text]:focus {
    box-shadow: 0 0 15px 4px #f8f0df;
}
a.search-letters{
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
    width: fit-content;
    padding: 8px 23px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #9d9d9d;
}
a.search-letters:hover {
    background-color: #79B4B7;
}
.side-right{
    width: 50%;
}
.side-right h3 {
    color: #79B4B7;
}
.error-mensaje{
    color: red;
}